<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIZ ISE LLM</title>
</head>
<body>
    <a href="/"><img src="https://www.fiz-karlsruhe.de/themes/custom/fizweb/icons/fizweb/logo-fiz-karlsruhe-de-claim.svg" alt="FIZ Logo" style="width: 15vw"></a>
    
        <div style="display: inline-block; margin-left: 4ch; font-family: Arial; font-size: 300%; font-weight: bold">ISE LLM</div>

        {% if request.user.is_authenticated %}
            <a href="/logout" id="logout">Logout {{request.user.username}}</a>
        {% else %}
            <a href="/login">Login</a>
        {% endif %}
    
    {% block content %}
    {% endblock content %}
</body>
</html>

<script>
    document.getElementById("logout").addEventListener("click", function() {
        event.preventDefault()
        document.cookie = "access_token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        document.location.reload()
    });
</script>