<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIZ ISE LLM</title>
</head>
<body>
    <img src="https://www.fiz-karlsruhe.de/themes/custom/fizweb/icons/fizweb/logo-fiz-karlsruhe-de-claim.svg" alt="FIZ Logo" style="width: 15vw">
    
        <div style="display: inline-block; margin-left: 4ch; font-family: Arial; font-size: 300%; font-weight: bold">ISE LLM</div>
    
    {% block content %}
    {% endblock content %}
</body>
</html>